---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
  room: {
    id: number;
    title: string;
    subtitle: string;
    imagePath: string;
  };
}
const {
  room: { id, title, subtitle, imagePath },
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpg,jpeg,png}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/images/*.{jpg,jpeg,png}"`
  );
---

<div
  class:list={[
    "maghny-gd-1 col-lg-4 col-md-6",
    id > 2 ? "mt-lg-0" : id > 1 ? "mt-md-0" : "",
  ]}
>
  <div class="maghny-grid">
    <figure class="effect-lily border-radius">
      <Image src={images[imagePath]()} alt="" class="img-fluid" />
      <figcaption class="w3set-hny">
        <div>
          <h4>{title}</h4>
          <p>{subtitle}</p>
        </div>
      </figcaption>
    </figure>
  </div>
</div>
