---
interface Props {
  imageClass: string;
}
const { imageClass } = Astro.props;
---

<div class="item">
  <li>
    <div class:list={["slider-info banner-view bg bg2", imageClass]}></div>
  </li>
</div>
