---
import MainSliderItem from "./MainSliderItem.astro";

const images = Array.from({ length: 8 }, (_, i) => i + 1);
---

<section class="w3l-main-slider" id="home">
  <div class="companies20-content">
    <div class="owl-one owl-carousel owl-theme">
      {
        images.map((i) => (
          <MainSliderItem imageClass={i > 0 ? `banner-top${i}` : ""} />
        ))
      }
    </div>
  </div>
</section>
