<navbar-toggle>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</navbar-toggle>

<script>
  class NavbarToggle extends HTMLElement {
    constructor() {
      super();
      const buttonToggle = this.querySelector("button");
      buttonToggle?.addEventListener("click", () => {
        document.querySelector("body")?.classList.toggle("no-scroll");
      });
    }
  }
  customElements.define("navbar-toggle", NavbarToggle);
</script>
