---
import { Image } from "astro:assets";
import Slide1 from "@/images/slide1.webp";
---

<div class="three-grids-columns" style="width: 20rem; height: 28rem;">
  <Image src={Slide1} alt="" class="img-fluid" />
  <div class="info">
    <h4><a href="#url"> Restaurant and Bar</a></h4>
    <p>
      Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia
      Curae; Nulla mollis dapibus nunc.
    </p>
    <a href="services.html" class="btn mt-4">Read More </a>
  </div>
</div>
