---
import Room from "./Room.astro";
---

<div class="container py-xl-5 py-lg-3">
  <div
    style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem; margin: 1rem"
  >
    <Room />
    <Room />
    <Room />
    <Room />
  </div>
</div>
